body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 86%;
}

input[type="radio"] { vertical-align: top; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#main-navi {
  .nav { float: right; }
  .brand:hover { background-color: inherit; }
}
#main-content { margin-top: 1em; }
footer {
  margin-top: 6em;
  border-top: 1px solid #ccc;
  color: #aaa;
  text-align: center;
}

.welcome-signin {
  margin-top: 4em;
  text-align: center;
  a.btn { min-width: 16em; }
}

.check-target-desc { margin-left: 1.4em; }

#main-ui {
  .btn { float: right; }
  .filter-time-zone { float: none; vertical-align: top; }
  #manage .btn { min-width: 12em; margin-left: 1em; }
}

.hero-img { max-width: 100%; border: 1px solid #eee; }
